/* mencegah teks tidak di copy */
body {
  font-family: "Poppins", serif !important;
  user-select: none; 
}

/* Styling Overlay */
.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.nav-link.active {
  font-weight: 600;
  transition: font-weight 0.2s ease-in-out;
}

.mt-n1 {
  margin-top: 1.5rem !important;
}

.ps-l1 {
  padding-left: 100px !important;
}

.bg-header {
  background-color: rgba(30, 108, 147, 1) !important;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.fs-7 {
  font-size: 13px;
}

.pt-7 {
  padding-top: 100px;
}

.icon-lg {
  font-size: 30px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Set active background color */
  color: white; /* Set active text color */
  border-color: #007bff; /* Set active border color */
}

.pagination .page-item.disabled .page-link {
  color: #6c757d; /* Disabled color */
}

/* button Ontop */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 320px) and (max-width: 425px) {
  .ps-l1 {
    padding-left: 30px !important;
  }

  .jobs {
    margin-top: 0 !important;
  }

  .img-r {
    height: 40px;
  }

  .fot-r {
    font-size: 14px;
    gap: 0.5rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ps-l1 {
    padding-left: 50px !important;
  }
}